html, body{
    margin:0;
    padding:0;
    
}

#etchASketch{
    width: 100vw;
    height: 100vh;
    /* margin-top: 7vh; */
    /* border-radius:25px; */
    background-color:red;
    position:absolute;
}
#gridContainer{
    position:relative;
    width:360px;
    height:360px;
    aspect-ratio: 1 / 1;
    margin:30px auto;
    border: 0px solid red;
    border-radius:  10px;
    overflow:hidden;
}
#grid{
    display:grid;
    /* flex-wrap:wrap; */
    width:360px;
    height:360px;
}
#buttonContainer{
    width:calc(100% - 20px);
    height:23%;
    margin:auto;
    display:flex;
    flex-direction:row;
    justify-content:center;
    /* position:absolute; */
}
.button{
    width:33%;
    margin:auto;
    text-align:center;
}
.button button{
    position:relative;
    width:70%;
    aspect-ratio:1 / 1;
    margin:auto;
    border-style:none;
    border-radius:50%;
}
@media (min-width:768px) {
    #etchASketch{
        width:500px;
        margin:auto;
        background-color:red;
    }
}

